* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*   font-size: 62.5%; */
}

body {
  font-family: "Fira Sans", sans-serif;
  /* overflow-x: hidden; */
}

header {
  color: #4a3636;
  width: 100vw;
  background: #ffd851;
  padding: 2% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 2rem;
}

nav {
  position: relative;
}
nav ul {
  display: none;
  display: flex;
  align-items: center;
  width: 30rem;
  /* transition: all 0.5s ease-in; */
}

.responsive {
  display: flex;
  flex-direction: column;
  height: 92vh;
  position: absolute;
  top: 2.8vh;
  right: -46.7vw;
  background: #ffd851;
  width: 40vmin;
  z-index: 3;
  /*   padding: 1.5vmin 12vmin; */

  /*   transform: translateX(220%); */
}
nav ul li {
  margin: auto;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  /*    background: greenyellow; */
}
nav ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #4a3636;
}

#hamburger {
  cursor: pointer;
  position: relative;
  /*   display: none; */
}

#hamburger div {
  background: grey;
  width: 1.5rem;
  height: 0.2rem;
  margin-bottom: 0.25rem;
  transition: transform 0.2s ease-in;
}

.line1-resp {
  position: absolute;
  /*   top: 3rem; */
  transform: rotate(45deg);
}
.line2-resp {
  opacity: 0;
}
.line3-resp {
  position: absolute;
  bottom: 0.2px;
  transform: rotate(-45deg);
}
